<h1>Modificando Involucrado</h1>

<%= render 'form', involucrado: @involucrado %>

<%= link_to 'Ver', @involucrado, :class => "button" %> |
<%= link_to 'Volver', @involucrado.caso, :class => "button" %>
